[package]
name = "plait-macros"
version = "0.1.0"
description = "Macros for `plait`: A modern HTML templating library for Rust that embraces composition."
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true
